/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --primary-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  /* --small-text-color: #999; */
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}
img{
  width: 100%;
}

.heading {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 20px 0px 80px;
  color: #0000f3;
  position: relative;
}

.heading::before{
  content: '';
  position: absolute;
  width: 60px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #feb101;

}

.para{
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.4px;
}



@media only screen and (max-width: 768px){

  .heading{
     font-size: 24px;
     padding-left: 54px;
  }

  .heading::before{
    width: 40px;
  }
}


@media only screen and (max-width: 425px){
  .heading{
    font-size: 20px;
    padding-left: 40px;
 }

 .heading::before{
  width: 34px;
}
}